table,th,td{
    border: 1px solid orange;
    border-collapse: collapse;
}

table{
    background-color: seashell;
}
body{
    background-image: url("background.jpg");
}
div{
    margin-right: 40%;  
margin-left: 40%;
}
h1{
   text-align: center;
}